@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: Rubik;
    src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: Futura;
    src: url("../assets/fonts/Futura/Futura Bold font.ttf");
  }
  @font-face {
    font-family: Helvetica_Neue;
    src: url('../assets/fonts/Helvetica Neue/HelveticaNeueBold.otf');
  }
}

@layer components {
  .tws-no-scroll {
    scrollbar-width: none;
  }

  .tws-no-scroll::-webkit-scrollbar {
    width: 0px;
  }

  .tws-grid-cols-4-64 {
    grid-template-columns: repeat(4, minmax(0, 64px));
  }

  :root {
    scrollbar-width: none;
  }

  :root::-webkit-scrollbar {
    width: 0px;
  }

  .tws-shadow-select {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .25);
  }

  .tws-shadow-all {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .25);
  }

  .tws-shadow-sidebar {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25);
  }

  .tws-blue-bordered {
    @apply tws-border-[2px] tws-shadow-select tws-border-[#0000FF]/30 tws-bg-[#F5F5F5] dark:tws-bg-[#242124] dark:tws-border-stone-600
  }

  .data-closed[data-state] {
    transition: all 200ms ease-in-out; 
    display: none;
  }

  .data-closed[data-state="closed"] {
    opacity: 0;
    transform: translateY(50%);
  }

  .centered-absolute {
    @apply tws-top-[50%] tws-left-[50%];
    transform: translate(-50%, -50%);
  }

  .tws-fade-animation {
    animation: fade 1s linear infinite;;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.25;
    }
  }

}
